DirectoryIndex index.html
AddDefaultCharset UTF-8

<IfModule mod_mime.c>
  AddType image/jpeg .jpeg .jpg
  AddType image/svg+xml .svg
  AddType text/css .css
  AddType application/javascript .js
</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On
  ExpiresByType text/css "access plus 7 days"
  ExpiresByType application/javascript "access plus 7 days"
  ExpiresByType image/jpeg "access plus 30 days"
  ExpiresByType image/svg+xml "access plus 30 days"
</IfModule>
